body {
    font-family: Arial;

    margin: 0;
    background-image:url("../Assets/Background.jpg");
    background-repeat: repeat;
    background-size: cover;
    overflow:hidden;
}

h1 {
    text-align: center;
    color: #008DFF;
}

h2 {
    text-align: center;
    color: #008DFF;
}

#game-title {
    font-size: 4em;
    text-align: Center;
    margin: 8vh;
    margin-bottom: -4vh;
    padding: none;
}

#game-sub-title {
    font-size: 1.5em;
    margin-bottom: 10vh;
}

#game {
    margin: auto;
    font-size: 2.5em;
    color: #FFFFFF;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px  1px 0 #000,
        1px  1px 0 #000;
}

#game .screen {
    width: 100%;
    height: 100%;
    display: none;
}

#game .screen.active {
    display: block;
}

#game-play {
    margin: auto;
    display: block;
    width: 500px;
    height: 500px;
    font-size: 40px;
}

#game-play .screen {
    width: 100%;
    height: 100%;
    display: none;
}

#game-play .screen.active {
    display: block;
}

#main-menu {
    display: flex;
    align-content: center;
}

ul.menu {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.menu li {
    margin: 0.8em 0;
}

ul.menu li button {
    font-family: Arial;
    font-size: 1em;
    color: #FFFFFF;
    width: 10em;
    height: 1.5em;
    background: #0404B4;
    border: 0.1em solid rgb(255, 255, 255);
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);
}

ul.menu li button:hover {
    background: #008DFF;
}

ul.menu li button:active {
    color: #CECEF6;
    background: rgb(0, 0, 0);
}

#high-scores ol {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

#high-scores ol {
    font-size: 1.5em;
}

#help h1 {
    margin-bottom: -0.005em;
}

#help ul {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 1em;
}

#credits p {
    text-align: center;
    color: #FFFFFF;
    font-size: 1.5em;
}

